* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.btn {
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 15px 35px; }
  .btn--primary {
    background-color: #FFDD33; }
  .btn--secondary {
    background-color: #572BD9; }

.title {
  font-size: 40px;
  text-align: center; }

.text {
  text-align: center;
  font-size: 17px;
  margin: 30px 0px 40px; }

.subtitle {
  margin: 30px 0px 40px;
  color: #7E92AC;
  text-align: center; }

@media screen and (max-width: 768px) {
  .menu__item, .navbar__btn, .header__txt {
    display: none; }
  .menu__icon {
    display: block; }
  .dashboard__img {
    top: 80px;
    width: 250px; } }

@media screen and (max-width: 970px) {
  .subscribe__btn {
    margin-left: 0px; } }

.page__wrapper {
  width: 80%;
  margin: 0 auto; }

.page .header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; }
  .page .header__icon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
  .page .header__txt {
    margin: 0px 30px;
    color: white; }

.page .navbar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
  .page .navbar__btn {
    background-color: #572BD9;
    padding: 15px 35px;
    font-size: 16px; }

.page .menu__item {
  list-style-type: none;
  display: inline-block;
  margin: 10px 20px; }
  .page .menu__item--active {
    border-bottom: 3px solid orange; }

.page .menu__icon {
  display: none;
  list-style-type: none; }

.page .menu__img {
  width: 40px;
  height: 40px; }

.page .menu__link {
  text-decoration: none;
  color: white; }

.page .background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .page .background--cub {
    background-image: url("../img/background.png");
    padding: 50px 0px 0px; }
  .page .background--star {
    margin: 120px 0px;
    padding: 100px 0px;
    background-image: url(../img/MaskGroup58.png); }

.page .dashboard {
  padding: 45px 0px 150px;
  text-align: center; }
  .page .dashboard__title {
    font-size: 45px;
    color: white;
    text-align: center; }
  .page .dashboard__txt {
    color: white;
    text-align: center;
    margin: 30px 0px; }
  .page .dashboard__btn {
    margin: 10px 20px; }
  .page .dashboard__img {
    width: 50%;
    position: relative;
    top: 150px; }

.page .slider {
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch; }
  .page .slider__img {
    width: 200px;
    height: 70px;
    object-fit: cover;
    margin: 40px 20px;
    opacity: .1; }
    .page .slider__img--active {
      opacity: 1; }

.page .benefits {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch; }

.page .advantage {
  width: 29%;
  min-width: 270px;
  box-shadow: 1px 3px 20px 0px #242672;
  padding: 80px 80px 50px;
  margin-top: ma;
  border-radius: 15px;
  margin: 50px 20px; }
  .page .advantage__heading {
    font-size: 25px;
    margin: 30px 0px; }
  .page .advantage__txt {
    color: #7E92AC;
    margin: 20px 0px; }

.page .structure {
  margin: 150px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .page .structure__img {
    box-shadow: 5px 2px 10px 3px #888888;
    border-radius: 20px;
    min-width: 260px;
    width: 45%;
    padding: 200px 0px; }
  .page .structure-direction {
    min-width: 240px;
    margin: 50px 0px;
    width: 45%; }
  .page .structure__title {
    font-size: 45px; }
  .page .structure__txt {
    color: #7E92AC;
    margin: 40px 0px; }

.page .banner {
  margin: 120px 0px;
  padding: 120px 10px;
  text-align: center; }
  .page .banner--down {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/MaskGroup57.png); }
  .page .banner--top {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/MaskGroup56.png); }
  .page .banner__title {
    font-size: 45px;
    color: white; }
  .page .banner__txt {
    color: white;
    margin: 50px 0px; }

.page .task {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 200px 0px; }
  .page .task__title {
    font-size: 45px; }
  .page .task__txt {
    color: #7E92AC; }
  .page .task-content {
    width: 40%;
    min-width: 250px;
    margin: 0px 60px; }
  .page .task-about {
    margin: 50px 0px;
    display: flex; }
  .page .task__icon {
    width: 40px;
    height: 30px;
    margin-right: 40px; }
  .page .task__img {
    box-shadow: 5px 2px 10px 3px #888888;
    border-radius: 20px;
    min-width: 260px;
    width: 45%;
    padding: 200px 0px;
    margin: 50px; }

.page .testimonials {
  margin: 100px 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch; }

.page .testimonial {
  margin: 50px 15px;
  width: 25%;
  box-shadow: 5px 2px 9px 3px #888888;
  padding: 0px 20px 50px 20px;
  border-radius: 10px;
  min-width: 300px; }
  .page .testimonial__heading {
    font-size: 25px;
    margin: 30px 0px; }
  .page .testimonial__txt {
    color: #7E92AC;
    margin: 50px 0px; }
  .page .testimonial_img {
    position: relative;
    top: -50px; }

.page .switcher {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 150px 0px 100px; }
  .page .switcher__sight {
    border-radius: 50%;
    background-color: #CDDDF3;
    padding: 10px;
    margin: 0px 10px; }
    .page .switcher__sight--active {
      background-color: #572BD9; }

.page .pricing__title {
  font-size: 45px;
  color: white;
  text-align: center; }

.page .pricing__txt {
  color: white;
  margin: 30px 0px 60px;
  text-align: center; }

.page .pricing-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch; }

.page .card {
  background-color: white;
  box-shadow: 0px 0px 9px 0px #888888;
  border-radius: 10px;
  margin: 20px 20px;
  width: 27%;
  padding: 30px 30px;
  text-align: center;
  min-width: 280px; }
  .page .card__heading {
    font-size: 25px;
    margin: 30px 0px; }
  .page .card__about-per {
    margin: 20px 0px; }
  .page .card__price {
    font-size: 35px;
    margin: 20px 0px;
    font-size: 60px; }
  .page .card__belong {
    margin: 35px 0px; }
  .page .card__list {
    width: fit-content;
    margin: 0 auto; }
  .page .card__item {
    list-style-type: none;
    display: flex; }
  .page .card--active {
    background-color: #572BD9;
    color: white; }
  .page .card__icon {
    width: 50px;
    height: 50px; }
  .page .card__link {
    text-decoration: none;
    color: #7E92AC; }
    .page .card__link--active {
      color: white; }
  .page .card__btn {
    margin-top: 50px; }

.page .questions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 150px; }
  .page .questions-content {
    display: flex;
    align-items: center;
    width: 40%;
    min-width: 300px;
    margin-top: 40px;
    margin: 20px 40px; }
  .page .questions__answer {
    margin-top: 45px; }
  .page .questions__txt {
    margin-top: 20px;
    color: #7E92AC; }

.page .message {
  text-align: center; }
  .page .message__operations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: fit-content;
    margin: 0 auto;
    width: 30%;
    min-width: 250px; }
  .page .message__inp {
    padding: 15px 5px;
    margin: 20px 0px;
    border-radius: 10px;
    outline: none;
    border: none;
    border: 1px solid #c3cce8; }

.page .info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 60px; }
  .page .info-about {
    width: 20%;
    min-width: 250px;
    margin: 30px 20px; }
  .page .info__sources {
    min-width: 200px;
    margin: 30px 20px; }
  .page .info__title {
    margin-bottom: 30px; }
  .page .info__txt {
    margin-bottom: 40px;
    color: #7E92AC; }
  .page .info-subscribe {
    margin: 50px; }
  .page .info__list {
    list-style-type: none; }
  .page .info__item {
    margin-top: 20px; }
  .page .info__link {
    color: #7E92AC;
    text-decoration: none; }

.page .subscribe {
  width: 40%;
  margin: 30px 20px; }
  .page .subscribe__icon {
    display: flex;
    margin: 30px 0px; }
  .page .subscribe__img {
    width: 40px;
    margin: 10px; }
  .page .subscribe__inp {
    padding: 15px 5px;
    margin: 20px 0px;
    border-radius: 10px;
    outline: none;
    border: none;
    border: 1px solid #c3cce8;
    min-width: 160px;
    width: 50%;
    border-right: none; }
  .page .subscribe__btn {
    position: relative;
    margin-left: -30px;
    padding: 13px 35px;
    top: 2px; }

.page .footer {
  padding: 30px 0px;
  background-color: #572BD9; }
  .page .footer-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
  .page .footer__text {
    color: white; }
