* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

$primary: #FFDD33;
$secondary: #572BD9;
$lightness: #7E92AC;


@mixin background {
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

@mixin d-flex($direction, $justify, $align) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.btn {
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 15px 35px;

    &--primary {
        background-color: $primary;
    }

    &--secondary {
        background-color: $secondary;
    }
}

.title {
    font-size: 40px;
    text-align: center;
}

.text {
    text-align: center;
    font-size: 17px;
    margin: 30px 0px 40px;
}

.subtitle {
    margin: 30px 0px 40px;
    color: $lightness;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .menu__item, .navbar__btn, .header__txt { 
        display: none
    }
    .menu__icon {
        display: block;
    }
    .dashboard__img{
        top: 80px;
        width: 250px;
    }
}

@media screen and (max-width: 970px) {
    .subscribe__btn {
        margin-left: 0px;
    }
}



