@import './main.scss';

.page {
    
    &__wrapper {
        width: 80%;
        margin: 0 auto;
    }

    .header {
        @include d-flex(row, space-between, center);
        margin: 0 auto;
        
        &__icon {
            @include d-flex(row,flex-start,center)
        }
        
        &__txt {
            margin: 0px 30px;
            color: white;
        }
    }

    .navbar {
        @include d-flex(row,flex-start,center);

        &__btn {
            background-color: #572BD9;
            padding: 15px 35px;
            font-size: 16px;
        }
    }

    .menu {
        &__item {
            list-style-type: none;
            display: inline-block;
            margin: 10px 20px;

            &--active{
                border-bottom: 3px solid orange;
            }
        }

        &__icon {
            display: none;
            list-style-type: none;
        }

        &__img {
            width: 40px;
            height: 40px;
        }

        &__link {
            text-decoration: none;
            color: white;
        }
    }

    .background {
        @include background;

        &--cub{
            background-image: url("../img/background.png");
            padding: 50px 0px 0px;
        }

        &--star {
            margin: 120px 0px;
            padding: 100px 0px;
            background-image: url(../img/MaskGroup58.png);
        }
    }

    .dashboard {
        padding: 45px 0px 150px;
        text-align: center;

        &__title {
            font-size: 45px;
            color: white;
            text-align: center;
        }

        &__txt {
            color: white;
            text-align: center;
            margin: 30px 0px;
        }

        &__btn {
            margin: 10px 20px;
        }

        &__img {
            width: 50%;
            position: relative;
            top: 150px;
        }
    }

    .slider {
        margin: 100px auto;
        @include d-flex(row, space-between, stretch);

        &__img {
            width: 200px;
            height: 70px;
            object-fit: cover;
            margin: 40px 20px;
            opacity: .1;

            &--active {
                opacity: 1;
            }
        }
    }

    .benefits {
        @include d-flex(row, center, stretch)
    }

    .advantage {
        width: 29%;
        min-width: 270px;
        box-shadow: 1px 3px 20px 0px #242672;
        padding: 80px 80px 50px;
        margin-top: ma;
        border-radius: 15px;
        margin: 50px 20px;

        &__heading {
            font-size: 25px;
            margin: 30px 0px;
        }

        &__txt {
            color: $lightness;
            margin: 20px 0px;
        }
    }

    .structure {
        margin: 150px 0px;
        @include d-flex(row, space-between, center);
        
        &__img {
            box-shadow: 5px 2px 10px 3px #888888;
            border-radius: 20px;
            min-width: 260px;
            width: 45%;
            padding: 200px 0px;
        }

        &-direction {
            min-width: 240px;
            margin: 50px 0px;
            width: 45%;
        }

        &__title {
            font-size: 45px;
        }

        &__txt {
            color: $lightness;
            margin: 40px 0px;
        }
    }

    .banner {
        margin: 120px 0px;
        padding: 120px 10px;
        text-align: center;

        &--down{
            @include background;
            background-image: url(../img/MaskGroup57.png);
        }

        &--top {
            @include background;
            background-image: url(../img/MaskGroup56.png);
        }

        &__title {
            font-size: 45px;
            color: white;
        }

        &__txt {
            color: white;
            margin: 50px 0px;
        }
    }

    .task {
        @include d-flex(row, center, center);
        margin: 200px 0px;

        &__title {
            font-size: 45px;
        }

        &__txt {
            color: $lightness;
        }

        &-content {
            width: 40%;
            min-width: 250px;
            margin: 0px 60px;
        }

        &-about {
            margin: 50px 0px;
            display: flex;
        }

        &__icon {
            width: 40px;
            height: 30px;
            margin-right: 40px;
        }

        &__img {
            box-shadow: 5px 2px 10px 3px #888888;
            border-radius: 20px;
            min-width: 260px;
            width:45%;
            padding: 200px 0px;
            margin: 50px;
        }
    }

    .testimonials {
        margin: 100px 20px;
        text-align: center;
        @include d-flex(row,center,stretch)
    }

    .testimonial {
        margin: 50px 15px;
        width: 25%;
        box-shadow: 5px 2px 9px 3px #888888;
        padding: 0px 20px 50px 20px;
        border-radius: 10px;
        min-width: 300px;

        &__heading {
            font-size: 25px;
            margin: 30px 0px;
        }

        &__txt {
            color: $lightness;
            margin: 50px 0px;
        }

        &_img {
            position: relative;
            top: -50px;
        }
    }

    .switcher {
        @include d-flex(row,center,stretch);
        margin: 150px 0px 100px;

        &__sight {
            border-radius: 50%;
            background-color: #CDDDF3;
            padding: 10px;
            margin: 0px 10px;

            &--active {
                background-color: $secondary;
            }
        }
    }

    .pricing {
        &__title {
            font-size: 45px;
            color: white;
            text-align: center;
        }

        &__txt {
            color: white;
            margin: 30px 0px 60px;
            text-align: center;
        }

        &-cards {
            @include d-flex(row,center,stretch)
        }
    }

    .card {
        background-color: white;
        box-shadow: 0px 0px 9px 0px #888888;
        border-radius: 10px;
        margin: 20px 20px;
        width: 27%;
        padding: 30px 30px;
        text-align: center;
        min-width: 280px;

        &__heading {
            font-size: 25px;
            margin: 30px 0px;
        }

        &__about-per {
            margin: 20px 0px;
        }

        &__price {
            font-size: 35px;
            margin: 20px 0px;
            font-size: 60px;
        }

        &__belong {
            margin: 35px 0px;
        }

        &__list {
            width: fit-content;
            margin: 0 auto;
        }

        &__item {
            list-style-type: none;
            display: flex;
        }

        &--active {
            background-color: $secondary;
            color: white;
        }

        &__icon {
            width: 50px;
            height: 50px;
        }

        &__link {
            text-decoration: none;
            color: $lightness;

            &--active {
                color: white;
            }
        }

        &__btn {
            margin-top: 50px;
        }
    }

    .questions {
        @include d-flex(row,center,stretch);
        margin-bottom: 150px;

        &-content {
            display: flex;
            align-items: center;
            width: 40%;
            min-width: 300px;
            margin-top: 40px;
            margin: 20px 40px;
        }

        &__answer {
            margin-top: 45px;
        }

        &__txt {
            margin-top: 20px;
            color: $lightness;
        }
    }

    .message {
        text-align: center;

        &__operations {
            @include d-flex(column,flex-start,stretch);
            width: fit-content;
            margin: 0 auto;
            width: 30%;
            min-width: 250px;
        }

        &__inp {
            padding: 15px 5px;
            margin: 20px 0px;
            border-radius: 10px;
            outline: none;
            border: none;
            border: 1px solid #c3cce8;
        }
    }

    .info{
        @include d-flex(row,space-between,stretch);
        margin-bottom: 60px;

        &-about {
            width: 20%;
            min-width: 250px;
            margin: 30px 20px
        }

        &__sources {
            min-width: 200px;
            margin: 30px 20px
        }

        &__title {
            margin-bottom: 30px;
        }

        &__txt {
            margin-bottom: 40px;
            color: $lightness;
        }

        &-subscribe {
            margin: 50px;
        }

        &__list {
            list-style-type: none;
        }

        &__item {
            margin-top: 20px;
        }

        &__link {
            color: $lightness;
            text-decoration: none;
        }
    }

    .subscribe {
        width: 40%;
        margin: 30px 20px;

        &__icon {
            display: flex;
            margin: 30px 0px;
        }

        &__img { 
            width: 40px;
            margin: 10px
        }

        &__inp {
            padding: 15px 5px;
            margin: 20px 0px;
            border-radius: 10px;
            outline: none;
            border: none;
            border: 1px solid #c3cce8;
            min-width: 160px;
            width: 50%;
            border-right: none
        }

        &__btn {
            position: relative;
            margin-left: -30px;
            padding: 13px 35px;
            top: 2px;
        }
    }

    .footer {
        padding: 30px 0px;
        background-color: $secondary;

        &-section {
            @include d-flex(row, space-between, center);
            margin: 0 auto;
        }

        &__text {
            color: white;
        }
    }
}

